#blog-overzicht article,
#blog-detail article
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#blog-form label
{
    display: block;
    margin-top: 10px;
}

#form-melding
{
    color: green;
    font-weight: bold;
}

#docenten-slider 
{
    width: 50%;
    margin: 20px auto;
}

#docenten-slider img 
{
    width: 100%;
    height: auto;
}

.slick-prev:before,
.slick-next:before 
{
    font-size: 20px;
    color: black;
}